# NetBeans specific
dist/
build/
nbdist/
nbbuild/
nbproject/private/

build.xml
manifest.mf
nbactions.xml
nb-configuration.xml

# OS & editor
*.db
*.txt
*.swp
.DS_Store

# Java
tags
*.class
Makefile

# Misc
pom.xml.tag
release.properties
pom.xml.releaseBackup
