# NetBeans specific
dist/
build/
nbdist/
nbbuild/
nbproject/private/

build.xml
manifest.mf
nbactions.xml
nb-configuration.xml

# OS
.DS_Store

# Misc
*.swp
pom.xml.tag
release.properties
pom.xml.releaseBackup
